@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --color-apd-header: 0, 0, 0;
  --apd-main-bg: #151515;
  --apd-secondary-bg: #252525;
  --apd-red: #ad0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--apd-main-bg);
}

/* 
  https://ryanmulligan.dev/blog/layout-breakouts
  https://www.youtube.com/watch?v=c13gpBrnGEw
  ( ͡° ͜ʖ ͡°)
*/
/* .content-grid,
.full-width {
  --padding-inline: 1rem;
  --content-max-width: 75vw;
  --breakout-max-width: 80vw;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
} */

.content-grid {
  --gap: clamp(1rem, 1vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(70ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.content > * {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

.apd-hero {
  min-height: calc(100dvh - 56px);
  grid-column: content;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .apd-hero {
    grid-column: feature;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .content-grid {
    --content: min(100ch, 100% - var(--gap) * 2);
  }
}
