@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --color-apd-header: 0, 0, 0;
  --apd-main-bg: #151515;
  --color-apd-secondary-text: #ad0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--apd-main-bg);
}

.apd-hero {
  height: calc(100dvh - 56px);
}

.bouncy-link:hover {
  animation: scaleText 0.2s;
  animation-fill-mode: forwards;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
