@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --color-apd-header: 0, 0, 0;
  --apd-main-bg: #151515;
  --color-apd-secondary-text: #ad0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--apd-main-bg);
}

/* 
  https://ryanmulligan.dev/blog/layout-breakouts
  https://www.youtube.com/watch?v=c13gpBrnGEw
  ( ͡° ͜ʖ ͡°)
*/
.content-grid,
.full-width {
  --padding-inline: 1rem;
  --content-max-width: 60vw;
  --breakout-max-width: 75vh;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.apd-hero {
  height: calc(100dvh - 56px);
}

.bouncy-link:hover {
  animation: scale 0.2s;
  animation-fill-mode: forwards;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
